/*=======*/
/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*===============*/
/* GENERAL RULES */
body {
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  margin: 10px 0;
  color: #fff;
}

.ms_wrapper {
  height: 100vh;
  color: #ccc;
  min-width: 500px;
}
main {
  height: calc(100vh - 90px);
}

main::after {
  content: '';
  display: table;
  clear: both;
}

a {
  color: #717171;
  text-decoration: none;
  font-weight: 600;
}

a:hover {
  color: #fff;
}

ul {
  list-style-type: none;
}

/*=========*/
/* SIDEBAR */
.ms_sidebar {
  float: left;
  width: 50px;
  height: 100%;
  background-color: #000;
  overflow: hidden;
}

.ms_sidebar-top {
  height: calc(100% - 100px);
  min-height: 320px;
  overflow-y: hidden;
}

/* logo */
.ms_logo img { padding: 10px; }
.ms_logo img.ms_big { display: none; }
.ms_logo img.ms_small { width: 50px; }


/* main navigation */
.ms_main-navigation li {
  padding: 10px;
  border-left: 5px solid #000;
}

.ms_main-navigation li.ms_active {
  border-left: 5px solid #adff2f;
  color: #fff;
}

.ms_main-navigation img {
  height: 25px;
  vertical-align: middle;
}

.ms_main-navigation a {
  color: inherit;
}

.ms_main-nav-text {
  display: none;
}

/* PLaylist */
.ms_playlist {
  display: none;
  padding: 15px;
}

.ms_add-list-item .ms_plus {
  display: inline-block;
  color: #000;
  background-color: #ccc;
  padding: 10px 12px;
  font-size: 1.5em;
}

.ms_add-list-item {
  margin-bottom: 10px;
}

.ms_list-item {
  overflow: auto;
  height: calc(100vh - 500px);
}

.ms_list-item li {
  padding: 10px 0;
}

/* install app + user */
.ms_sidebar-bottom {
  text-align: center;
}

.ms_install-app,
.ms_user {
  padding: 10px 0;
}

.ms_sidebar-bottom img {
  width: 25px;
  vertical-align: middle;
}
.ms_user a {
  line-height: 30px;
}

.ms_user .ms_profile-avatar {
  background-color: #ccc;
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-image: url(../img/profile.svg);
  background-size: 25px;
  background-position: center;
  background-repeat: no-repeat;
}

.ms_user .ms_user-name {
  font-size: 1.2em;
  font-weight: 600;
  color: #fff;
}

/*==============*/
/* MAIN CONTENT */
.ms_main-content {
  float: left;
  width: calc(100% - 50px);
  height: 100%;
  background-color: #19202b;
  overflow-y: auto;
}

.ms_top-panel {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #0000004d;
  height: 90px;
  position: fixed;
  top: 0;
  right: 0;
  width: calc(100% - 50px);
}

.ms_upgrade-btn {
  padding: 10px 20px;
  border: 1px solid #fff;
  color: #fff;
  text-transform: uppercase;
  border-radius: 25px;
  margin: 0 25px;
  background-color: #0000004d;
  font-size: 0.8em;
  text-align: center;
}

/* main content box */
.ms_content-box {
  padding: 100px 20px 20px;
}

.ms_content-box ul.ms_content-navigation {
  height: 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
}

.ms_content-navigation>li {
  margin-right: 10px;
  position: relative;
}

.ms_content-navigation>li:last-child {
  margin-right: 0;
}

.ms_content-navigation span.ms_active,
.ms_content-navigation li:hover span:first-child {
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 35%;
  height: 4px;
  background-color: #adff2f;
  transition: background-color .4s ease;
}

.ms_content-box a {
  display: inline-block;
  text-transform: uppercase;
  padding: 10px;
}

/* thumbnail wrap */
.ms_recently-played ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

li.ms_thumbnail-wrap {
  flex-basis: calc(50% - 10px);
  text-align: center;
  cursor: pointer;
}

li.ms_thumbnail-wrap img {
  width: 100%;
}

.ms_thumbnail-wrap .ms_title {
  font-size: 1.3em;
}

.ms_thumbnail-wrap .ms_subtitle {
  font-size: 1.1em;
}

.ms_thumbnail-image {
  position: relative;
}

.ms_thumbnail-image  .ms_thumbnail-overlay {
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 0%;
  background-color: #000000a8;
  transition: all .3s ease;
}

.ms_thumbnail-image  .ms_thumbnail-overlay i {
  opacity: 0%;
  color: #fff;
  font-size: 4em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  transition: opacity .15s ease-out;
  transition-duration: 0s;
}

.ms_thumbnail-wrap:hover .ms_thumbnail-overlay  {
  height: 100%;
}

.ms_thumbnail-wrap:hover  .ms_thumbnail-overlay i {
  display: block;
  opacity: 100%;
}


/*========*/
/* FOOTER */
.ms_player {
  width: 100%;
  height: 90px;
  color: #fff;
  background-color: #282828;
  display: flex;
  justify-content: space-between;
  font-size: 0.9em;
}

.ms_player > div {
  padding: 15px 10px;
  align-self: center;
}

.ms_player .names,
.ms_player .favorites,
.ms_player img {
  display: inline-block;
  vertical-align: middle;
}

/* Album */
.album {
  flex-basis: 25%;
  min-width: 150px;
}

.album img {
  width: 50px;
  margin-right: 5px;
}

.album .song-name {
  font-size: 0.8em;
  color:#717171;
}

.album .favorites i {
  margin-left: 10px;
  color:#717171;
  font-size: 1.1em;
}

/* PLayer Controls */
.player-controls {
  text-align: center;
  flex-basis: 50%;
}

.player-buttons i {
  margin: 0 5px;
  font-size: 1.1em;
  vertical-align: middle;
}

.player-buttons i.fa-play-circle {
  font-size: 1.8em;
  margin: 0 10px;
}

.player-controls {
  /* width: 100%; */
  flex-grow: 2;
  min-width: 200px;
}

.song-time-bar .current-time,
.song-time-bar .song-bar,
.song-time-bar .end-time,
.volume-controls .volume-bar {
  display: inline-block;

}

.song-time-bar .song-bar {
  vertical-align: middle;
  width: 55%;
  height: 4px;
  border-radius: 4px;
  background-color: #717171;
}

.song-time-bar [class*="time"] {
  margin: 5px;
  font-size: 0.8em;
}

/* Volume controls */
.volume-controls {
  flex-basis: 25%;
  text-align: right;
  min-width: 150px;
}

.volume-controls i {
  font-size: 0.9em;
  margin-right: 10px;
}

.volume-controls .volume-bar {
  vertical-align: middle;
  width: 30%;
  min-width: 10%;
  height: 4px;
  border-radius: 4px;
  background-color: #717171;
}


/*============*/
/* MEDIA QUERY*/
/* XS */
@media screen and (min-width: 556px) {
  .ms_sidebar {
    width: 230px;
  }

  .ms_main-nav-text {
    display: inline;
  }

  .ms_logo img {
    padding: 20px;
  }

  .ms_logo img.ms_big {
    display: inline;
    width: 150px;
  }

  .ms_logo img.ms_small {
    display: none
  }

  .ms_playlist {
    display: block;
  }

  .ms_main-content {
    width: calc(100% - 230px);
  }

  .ms_top-panel {
    width: calc(100% - 230px);
  }

  /*sidebar-bottom*/
  .ms_sidebar-bottom {
    padding: 0 15px;
  }

  .ms_install-app,
  .ms_user {
    padding: 10px 0;
    border-bottom: 1px solid #fff;
    text-align: left;
  }

  .ms_sidebar-bottom div:last-child {
    border-bottom: none;
  }

}

/* SM */
@media screen and (min-width: 768px) {

}

/* MD */
@media screen and (min-width: 992px) {
  li.ms_thumbnail-wrap {
    flex-basis: calc((100% / 4) - 10px );
  }
}


/* LG */
@media screen and (min-width: 1170px) {
   li.ms_thumbnail-wrap {
    flex-basis: calc((100% / 6) - 10px );
  }

}
