/*=======*/
/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*===============*/
/* GENERAL RULES */
body {
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  margin: 10px 0;
}

.ms_wrapper {
  height: calc(100vh -  90px);
  color: #ccc;
}

.ms_wrapper::after {
  content: '';
  display: table;
  clear: both;
}

a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
}
ul {
  list-style-type: none;
}

/* SIDEBAR NAVIGATION */
.ms_sidebar {
  float: left;
  width: 50px;
  height: calc(100vh - 90px);
  background-color: #000;
  overflow: hidden;
}

.ms_sidebar a {
  color:#717171;
}

.ms_sidebar-top {
  height: calc(100% - 100px);
  min-height: 320px;
  overflow-y: hidden;
}

/* logo */
.logo img { padding: 10px; }
.logo img.big { display: none; }
.logo img.small { width: 50px; }


/* main navigation */
.main-navigation li {
  padding: 10px;
  border-left: 5px solid #000;
}

.main-navigation li.active {
  border-left: 5px solid #adff2f;
  color: #fff;
}

.main-navigation img {
  height: 25px;
  vertical-align: middle;
}

.main-navigation a {
  color: inherit;
}

.main-nav-text {
  display: none;
}

/* PLaylist */
.playlist {
  display: none;
  padding: 15px;
}

.add-list-item .ms_plus {
  display: inline-block;
  color: #000;
  background-color: #ccc;
  padding: 10px 12px;
  font-size: 1.5em;
}

.add-list-item {
  margin-bottom: 10px;
}

.ms_list-item {
  overflow: auto;
  height: calc(100vh - 500px);
}

.ms_list-item li {
  padding: 10px 0;
}

/* install app + user */
.ms_sidebar-bottom {
  text-align: center;
}

.ms_install-app,
.ms_user {
  padding: 10px 0;
}


.ms_sidebar-bottom img {
  width: 25px;
  vertical-align: middle;
}
.ms_user a {
  line-height: 30px;
}

.ms_user .profile-avatar {
  background-color: #ccc;
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-image: url(../img/profile.svg);
  background-size: 25px;
  background-position: center;
  background-repeat: no-repeat;
}

.ms_user .user-name {
  font-size: 1.2em;
  font-weight: 600;
  color: #fff;
}

/*======*/
/* MAIN */
.ms_main-content {
  float: left;
  width: calc(100% - 50px);
  height: calc(100vh - 90px);
  background-color: #19202b;
  overflow-y: auto;
}

.top-panel {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #0000004d;
  height: 90px;
  position: absolute;
  top: 0;
  right: 0;
  width: calc(100% - 50px);
}

.ms_upgrade-btn {
  padding: 10px 20px;
  border: 1px solid #fff;
  text-transform: uppercase;
  border-radius: 25px;
  margin: 0 25px;
  background-color: #0000004d;
  font-size: 0.8em;
  text-align: center;
}

/*========*/
/* FOOTER */
.ms_player {
  width: 100%;
  height: 90px;
  color: #fff;
  background-color: #282828;
  display: flex;
  justify-content: space-between;
}

.ms_player > div {
  padding: 15px;
}

.ms_player .names,
.ms_player .favorites,
.ms_player img {
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px;
}

/* Album */
.album {
  flex-basis: 25%;
}

.album img {
  width: 50px;
}

.album .song-name {
  font-size: 0.8em;
  color:#717171;
}

.album .favorites i {
  margin-left: 10px;
  color:#717171;
  font-size: 1.1em;
}

/* PLayer Controls */
.player-controls {
  text-align: center;
  flex-basis: 50%;
}

.player-buttons i {
  margin: 0 10px;
  font-size: 1.2em;
  vertical-align: middle;
}

.player-buttons i.fa-play-circle {
  font-size: 2em;
  margin: 0 15px;
}

.player-controls {
  width: 100%;
  flex-grow: 2;
}

.song-time-bar .current-time,
.song-time-bar .song-bar,
.song-time-bar .end-time,
.volume-controls .volume-bar {
  display: inline-block;

}

.song-time-bar .song-bar {
  vertical-align: middle;
  width: 50%;
  height: 4px;
  border-radius: 4px;
  background-color: #717171;
}

.song-time-bar [class*="time"] {
  margin: 10px;
  font-size: 0.8em;
}

/* Volume controls */
.volume-controls {
  flex-basis: 25%;
  text-align: right;
  line-height: 60px;
}

.volume-controls i {
  font-size: 0.9em;
  margin-right: 10px;
}

.volume-controls .volume-bar {
  vertical-align: middle;
  width: 30%;
  min-width: 10%;
  height: 4px;
  border-radius: 4px;
  background-color: #717171;
}


/*============*/
/* MEDIA QUERY*/
/* XS */
@media screen and (min-width: 556px) {
  .ms_sidebar {
    width: 230px;
  }

  .main-nav-text {
    display: inline;
  }

  .logo img {
    padding: 20px;
  }

  .logo img.big {
    display: inline;
    width: 150px;
  }

  .logo img.small {
    display: none
  }

  .playlist {
    display: block;
  }

  .ms_main-content {
    width: calc(100% - 230px);
  }

  .top-panel {
    width: calc(100% - 230px);
  }

  /*sidebar-bottom*/
  .ms_sidebar-bottom {
    padding: 0 15px;
  }

  .ms_install-app,
  .ms_user {
    padding: 10px 0;
    border-bottom: 1px solid #fff;
    text-align: left;
  }

  .ms_sidebar-bottom div:last-child {
    border-bottom: none;
  }


}

/* SM */
@media screen and (min-width: 768px) {



/* MD */
@media screen and (min-width: 992px) {

}


/* LG */
@media screen and (min-width: 1200px) {

}
